.parallax {
  /* The image used */
  background-image: url("assets/bgImage.jpg");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fontColor{
	color: black;
}

.navbar {
  background-color: transparent;
}

.Name{
	color:black;
	font-size:13px;
}

.brandHead{
padding: 7px; /*top right bottom left*/
}
.access{
padding:5px;}

#bigwrapper-home{
border:0px solid black;}

.welcome{
text-align:center;
margin-top:5px;}

#images-home{
margin-top:0px;
margin-left:0px;
height:auto;
border:0px solid black;}

#HomePicture{
margin-top:15px;
width:400px;
height:400px;
}
.award{
text-align:center;
margin-top:0px;}

#intro-home{
border-bottom:0px solid black;
margin-top:10px;
padding:16px;}

.intro-home-para{
margin-top:16px;
text-indent:30px;
font-size:20px;
}

.CameraLogo{
max-height:80px;
max-width:80px;
margin-left:70%;
}

#footer-home{
border:1px solid black;
margin: 1%;
}

.fbPicture{

max-height:20px;
max-width:20px;
}
.instaPicture{

max-height:30px;
max-width:30px;
}