.entryBlock{
	background-color: rgb(181, 181, 176);
	border: 0px solid black;
	height: 300px;
}

.child1 {
    width: 70%;
    float: left;
    height:300px;
    padding: 5px;
    border: 0px solid black;
}  
.child2 {
    width: 30%;
    float: left;
    height:300px;
    padding: 10px;
    
}  
.form-group{
  margin-top: 2%;
}

#submit{
	margin-top: 2%;
	margin-left: 50%;
	width: 20%;
	height: 10%;
	background-color: yellow;
	padding:10px;
}

#label{
	margin-left: 10%;
}
#custInput{
	margin-left: 1%;
  width: 100%;
  border-radius: 10px;
}

.log_details{
	padding: 20px;
	border:0px solid red;
	width: 100%;
	height: auto;
	background-color: rgb(181, 181, 176);
}

